<h2>Pay Grade: E01
    <button (click)="openChartAndTablesAsPDF()" class="print-btn">Print PDF</button>
  </h2>
  
  <hr>
  <h2>Search Filters</h2>
  <div class="filter-options">
    <label *ngFor="let filter of availableFilters">
      <input type="checkbox" [(ngModel)]="filter.selected" (change)="updateFilterData()" /> {{ filter.name }}
    </label>
  </div>
  
  <div class="toggle">
      <button (click)="toggleChart()">Toggle Chart</button>
  </div>
  <div class="chart-label-container">
    <div class="chart-label">
      {{ activeChart === 'chart1' ? 'Salary Data' : 'Expense Data' }}
    </div>
  </div>
  <!-- Always display one chart on UI -->
  <div class="chart-container">
    <canvas #chartCanvas></canvas>
  </div>
  