h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.print-btn {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }

  &:hover {
    background-color: #bbb;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }

  &:hover {
    background-color: #45a049;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.chart-label-container {
  width: 60%;
  height: 15vh;
  margin: 20px auto 0;            // Center the label horizontally
  background-color: #f1f1f1;      // Grey background for the label
  padding: 10px 0;                // Padding for spacing
  display: flex;
  justify-content: center;   
  margin-bottom: 20px;     // Center text inside the container
}

.chart-label {
  font-size: 26px;               // Larger font for the label text
  font-weight: bold;             // Bold text
  color: #333;                   // Dark grey color for the text
}

.chart-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100%;
  height: auto;
}
.toggle{
  // margin: auto;
  display: flex;
  justify-content: center;
}