div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 50vw;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

canvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}


button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }

  &:hover {
    background-color: #45a049;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

